/* navbar */

.navbar {
    position: fixed;
    /* width: 98.8vw; */
        
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 15px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 15px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    /* text-decoration: underline; */
    color: cadetblue;
  }